.card-skeleton {
    border: 2px solid #3b3b3b; 
    border-radius: 10px;
    overflow: hidden;
    background-color: #222; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 250px; 
}


.skeleton-image {
    width: 100%;
    height: 180px; 
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-bottom: 2px solid #333; 
}

.skeleton-content {
    padding: 15px; 
}

.skeleton-title {
    height: 1.2rem; 
    width: 80%;
    margin-bottom: 10px; 
    
    
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}