html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centra verticalmente */
  align-items: center;       /* centra horizontalmente */
  height: 100vh;             /* ocupa toda la altura de la ventana */
  background-color: black;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #ffe81f;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #ffcc00;
}